on: pull_request_target
# This follows https://dvc.org/blog/testing-external-contributions-using-github-actions-secrets/
jobs:
  authorize:
    environment:
      ${{ github.event_name == 'pull_request_target' &&
      github.event.pull_request.head.repo.full_name != github.repository &&
      'external' || 'internal' }}
    runs-on: ubuntu-latest
    steps:
      - run: true

  test:
    needs: authorize
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      # It should not be used in practice. just for checking.
      - run: printenv EXAMPLE
        env:
          EXAMPLE: ${{ secrets.EXAMPLE }}
          PR_REPO: ${{ github.event.pull_request.head.repo.full_name }}
          REPR: ${{ github.repository }}
      - run: echo "change in pull request target is fine if it is not merged"
